<div *ngIf="address">
    <h2>{{address.fullName}}</h2>
    <div>
        First Name
        <input required [(ngModel)]="address.firstName" placeholder="First Name">
    </div>
    <div>
        Last Name:
        <input required [(ngModel)]="address.lastName" placeholder="Last Name">
    </div>
    <div>
        Telephone Number:
        <input required [(ngModel)]="address.telephone" placeholder="Telephone">
    </div>
    <button (click)="updateAddress(address)" *ngIf="address.addressId"></button>
</div>